.general-text{
    font-size: 12px;
}

.money-margin{
    margin-left: 100px;
}

.page-header{
    text-transform: capitalize;
}

.page-subheader{
    text-transform: capitalize;
}

image{
    width: 250px;
    height: 250px;
}
